<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcun icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="/css/new admin.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
  <header>
    <nav class='cf'>
        <ul>
          <li class="hide-on-small">
            <a href="home_user.html">Agrivest</a>
          </li>
          <li>
            <a href='#showcase'>Home</a>
          </li>
          <li>
            <a href='#music'>Investasi</a>
          </li>
          <li>
            <a href='#video'>Artikel</a>
          </li>
          <!-- <li>
            <a href="" class="right account" ><img src="img/3.jpg"/></a>
            <ul>
              <li><a href="">Dashboard</a></li>
              <li><a href="">Profile</a></li>
              <li><a href="">Sign Out</a></li>
            </ul>
          </li> -->
        </ul>
        <div  class="dropdown"> 
          <div class="button"><img class="right" src="/img/3.jpg" alt=""></div>            
             <ul>
            <li><a href="index.html">Sign Out</a></li>
             </ul> 
          </div> 
        <a href='#' id='openup'>Agrivest</a>
    </nav>
</header>
        <div class="wrap-dash">
        <div class="content">
            <div class="sidebar">
                <ul>
                    <li ><a href="/views/admin/investasi_admin.html">Investasi</a></li>
                    <li><a href="/views/admin/transaksi_admin.html">Transaksi</a></li>
                    <li class="active"><a href="/views/admin/artikel_admin.html">Artikel</a></li>
                    <li><a href="/views/admin/profil admin.html">Profil</a></li>
                </ul>
            </div>

            <div class="main-dash">
                <!-- <h2>Investasi</h2> -->
                  <div class="dbottom">
                    <div class="tabs">
                      <ul class="tab-links">
                        <li class="active-tab"><a href="/views/admin/tambah artikel admin.html">Tambah Artikel</a></li>
                        <!-- <li><a href="#tab2">Selesai</a></li> -->
                      </ul>

                      <!-- <div class="tab-content"> -->
                        <div id="tab1" class="tab active-tab">
                          <div id="tab1" class="tab active-tab">
                              <table>
                                  <tr>
                                      <td>
                                        <div class="card-dash">
                                            <div class="card-header">
                                              <img src="/img/5.png" alt="">
                                              <div class="cover"></div>
                                      
                                              <div class="name">
                                                <span class="last">Coba</span>
                                                <span class="first">Aku</span>
                                              </div>
                                      
                                            </div>
                                      
                                            <div class="container">
                                              <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                         
                                      
                                            </div>
                                            
                                          </div>
                                      </td>

                                      <td>
                                        <div class="card-dash">
                                            <div class="card-header">
                                              <img src="/img/5.png" alt="">
                                              <div class="cover"></div>
                                      
                                              <div class="name">
                                                <span class="last">Coba</span>
                                                <span class="first">Aku</span>
                                              </div>
                                      
                                            </div>
                                      
                                            <div class="container">
                                              <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                           
                                      
                                          
                                            </div>
                                            
                                          </div>
                                      </td>

                                      <td>
                                        <div class="card-dash">
                                            <div class="card-header">
                                              <img src="/img/5.png" alt="">
                                              <div class="cover"></div>
                                      
                                              <div class="name">
                                                <span class="last">Coba</span>
                                                <span class="first">Aku</span>
                                              </div>
                                      
                                            </div>
                                      
                                            <div class="container">
                                              <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                           
                                      
                                        
                                            </div>
                                            
                                          </div>
                                      </td>
                                  </tr>

                                    
                                </table>

                         
                              
                          

                              
                        </div>
                        </div>
                      </div>

                        <div id="tab2" class="tab">
                          <p>Tab2</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>


    

        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/main.js"></script>
</body>
</html>