<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcun icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="/css/new_user.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
  <header>
    <nav class='cf'>
        <ul>
          <li class="hide-on-small">
            <a href="home_user.html">Agrivest</a>
          </li>
          <li>
            <a href='#showcase'>Home</a>
          </li>
          <li>
            <a href='#music'>Investasi</a>
          </li>
          <li>
            <a href='#video'>Artikel</a>
          </li>
          <!-- <li>
            <a href="" class="right account" ><img src="img/3.jpg"/></a>
            <ul>
              <li><a href="">Dashboard</a></li>
              <li><a href="">Profile</a></li>
              <li><a href="">Sign Out</a></li>
            </ul>
          </li> -->
        </ul>
        <div  class="dropdown"> 
          <div class="button"><img class="right" src="/img/3.jpg" alt=""></div>            
             <ul>
            <li><a href="index.html">Sign Out</a></li>
             </ul> 
          </div> 
        <a href='#' id='openup'>Agrivest</a>
    </nav>
</header>

        <div class="wrap-dash">
        <div class="content">
            <div class="sidebar">
                <ul>
                  <li ><a href="/views/admin/investasi_admin.html">Investasi</a></li>
                  <li class="active"><a href="/views/admin/transaksi_admin.html">Transaksi</a></li>
                  <li><a href="/views/admin/artikel_admin.html">Artikel</a></li>
                  <li><a href="/views/admin/profil admin.html">Profil</a></li>
                </ul>
            </div>

            <div class="main-dash">
              <div class="top-dash">
                <h2>Transaksi</h2>
                  <!-- <div class="dbottom main-transaksi">
                    <div class="total-saldo">
                      <h2>Total Saldo</h2>
                      <h4>Rp. 4.000.000</h4>
                    </div>

                    <div class="penarikan">
                      <h2>Pencairan</h2>
                      <a href="#modal"><h4>Request</h4></a>

                      <div class="modal" id="modal">
                      <div class="modal-content">
                        <div class="wrap-modal">
                        <a href="" class="modal-close">&times;</a>
                        <h3>Permintaan Pencairan</h3>
                        <input type="number" min="1" value="1">
                        <div class="btn_modal">
                        <a href="" class="yes">Confirm</a>
                        <a href="" class="no">Cancel</a>
                      </div>
                        </div>
                      </div>
                      </div>
                    </div> -->

                    <div class="riwayat-saldo">
                      <!-- <h2>Responsive Table</h2> -->
                      <div class="table-wrapper">
                          <table class="fl-table">
                              <thead>
                              <tr>
                                  <th>No</th>
                                  <th>Nama Investor</th>
                                  <th>Nama proyek</th>
                                  <th>Waktu</th>
                                  <th>Nominal</th>
                                  <th>Keterangan</th>
                                  <th>Verifikasi</th>
                              </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>Ranggi</td>
                                  <td>Budidaya Jamur Tiram</td>
                                  <td>1 Desember 2019</td>
                                  <td>1.000.000</td>
                                  <td>Detail</td>
                                  <td>
                                    <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                                  </td>
                                  
                               
                                 
                                  
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Feby</td>
                                <td>Budidaya Jamur Tiram</td>
                                <td>30 Oktober 2019</td>
                                <td>0</td>
                                <td>Detail</td>
                                <td>
                                  <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                                </td>
                              </tr>
                              
                              <tr>
                                <td>1</td>
                                <td>Ranggi</td>
                                <td>Budidaya Jamur Tiram</td>
                                <td>1 Desember 2019</td>
                                <td>1.000.000</td>
                                <td>Detail</td>
                                <td>
                                  <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                                </td>
                                
                             
                               
                                
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Feby</td>
                              <td>Budidaya Jamur Tiram</td>
                              <td>30 Oktober 2019</td>
                              <td>0</td>
                              <td>Detail</td>
                              <td>
                                <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                              </td>
                            </tr>
                            
                              <tr>
                                  <td>1</td>
                                  <td>Ranggi</td>
                                  <td>Budidaya Jamur Tiram</td>
                                  <td>1 Desember 2019</td>
                                  <td>1.000.000</td>
                                  <td>Detail</td>
                                  <td>
                                    <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                                  </td>
                                  
                               
                                 
                                  
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Feby</td>
                                <td>Budidaya Jamur Tiram</td>
                                <td>30 Oktober 2019</td>
                                <td>0</td>
                                <td>Detail</td>
                                <td>
                                  <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                                </td>
                              </tr>
                              
                              <tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
        
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>