<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/artikel.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
    <title>Artikel</title>
</head>
<body>
    <div class="header-invest">
      <header>
        <nav class='cf'>
            <ul class='cf'>
              <li class="hide-on-small">
                <a href="#">Agrivest</a>
              </li>
              <li>
                <a href='/views/index.html'>Home</a>
              </li>
              <li>
                <a href='/views/investasi.html'>Investasi</a>
              </li>
              <li>
                <a href='/views/artikel.html'>Artikel</a>
              </li>
              <li class="right">
                <a href='/views/login.html'>Login</a>
              </li>
              <li class="right">
                <a href='/views/daftar.html'>Daftar</a>
              </li>
            </ul>
            <a href='#' id='openup'>Agrivest</a>
            </nav>
    </header>
    </div>

    <div class="wrapper-article detail-article">
        <div class="article-atas">
            <img src="/img/3.jpg" alt="">
        </div>

        <div class="article-bawah">
            <h1>Welcome to Iridium!</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam qui cupiditate magni voluptatem, sint dolorem tenetur est autem. Alias blanditiis odio perspiciatis obcaecati itaque dignissimos optio reprehenderit! Hic, similique ipsam.</p>
        </div>
    </div>

    <div class="wrapper-article comment-container">
        <h3>Komentar</h3>
        <div class="section-list-comment">
            <div class="avatar">
                <img src="/img/3.jpg" alt="">
            </div>

            <div class="comment-body">
                <div class="author"><h2>JOSEP</h2></div>
                <div class="comment-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae mollitia dolorum quia qui nisi magni aliquam sequi earum sapiente. Quia, ipsum? Totam hic labore pariatur facilis sint eius numquam quidem!</p>
                </div>
            </div>

            <div class="comment-action">
                <a href="">Reply</a>
            </div>
        </div>
        <form action="">
            <textarea name="" id="comment" cols="30" rows="10">
            </textarea>
            <input type="submit" value="Kirim">
        </form>
    </div>

    <footer>
        <div class="container">
          <div class="footer-cols">
            <ul>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom text-center">
          Copyright &copy; 2019 Agrivest
        </div>
      </footer>

</body>
</html>