<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Staatliches" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/new_style.css">
	<link rel="stylesheet" type="text/css" href="../css/responsive.css">
</head>
<body>
    <section class="login">
		<header>
			<div class="wrapper">
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="investasi.html">Investasi</a></li>
						<li><a href="artikel.html">Article</a></li>
					</ul>
					<div class="btn">
					<a href="#" class="login_btn">Login</a>
					<a href="#" class="daftar_btn">Daftar</a>
					</div>
				</nav>
			</div>
		</header><!--  end header section  -->

			<!-- <section class="caption">
                <h2 class="caption">Pertanian Indonesia Maju</h2>
                <br>
<br>
                <h3 class="properties">Lorem ipsum, dolor sit amet consectetur adipisicing </h3>
                <br>
                <h3 class="properties">Lorem ipsum, dolor sit amet consectetur  </h3>
                <br>
                <h3 class="properties">Lorem ipsum, dolor sit amet  </h3>
            
            </section>
            <section>
                <section class="form">
                    <h2 class="form">Daftar</h2>
                    <br>
                    <a href="#" class="nama_btn">First Name</a>
                 
                    <a href="#" class="nama_btn">email</a>
                    <a href="#" class="nama_btn">No. HP</a>
                    <a href="#" class="kotak_btn"></a>
<br>

<a href="#" class="dftr_btn">Daftar</a>
            </section>

            <section>
                <h2 class="centang">Dengan Ini Saya Menyetujui</h2>
                
            </section>

            <section>
                <section class="form">
                    
                    <h2 class="form">Daftar</h2>
                    <br>
                    <a href="#" class="last_btn">Last Name</a>
                 
                    <a href="#" class="last_btn">Password</a>
                 
                    

            </section>
	</section> -->

    <div class="capt_login">
        <div class="c1">
                <h2>Pertanian Indonesia Maju</h2>
        </div>

        <div class="c2">
            <div class="c2_1">
                <h2>Masuk</h2>
                <input type="text" class="input nama" placeholder="Name">
                       
                <br>
                <input type="password" class="input pass" placeholder="Password">
          
                
        
                <a href="#"class="input3">Login</a>       
            </div>

        

        </div>
    </div>

                <!-- <table class="babu">

                            <h1>Masuk</h1>
                            <form class="form">
                                <input type="text" class="form_data" name="email" value="email"><br>
                                <input type="text" class="form_data" name="pass" value="password"><br><br>
                                <a href="#">Masuk</a>
                               
                            </form>
                        </td>
                    </tr>
                    <tr>
                        
                    </tr>
                </table> -->

    <!-- <table> -->
  <!--       <tr>
            <td>
                <button type="button">Home</button>
            </td>
            <td>
                <button type="button">Investasi</button>
            </td>
            <td>
                <button type="button">Artikel</button>
            </td>
        </tr>
    </table> -->

   
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/ext_main.js"></script>
    <script>
        $(document).ready(function(){
            $(".input3").click(function(){
                if($(".input").val()==""){
                alert("Data tidak boleh kosong");
            } else if($(".nama").val()=="admin" && $(".pass").val()=="admin"){
                location.replace("/views/admin/investasi_admin.html");
            }
            
            else{
                location.replace("/views/user/dashboard_user.html");
            }
            })
            

        })
    </script>
</body>
</html>