<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcun icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="/css/new_user.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
        <header>
            <nav class='cf'>
                <ul>
                  <li class="hide-on-small">
                    <a href="home_user.html">Agrivest</a>
                  </li>
                  <li>
                    <a href='#showcase'>Home</a>
                  </li>
                  <li>
                    <a href='#music'>Investasi</a>
                  </li>
                  <li>
                    <a href='#video'>Artikel</a>
                  </li>
                  
                </ul>
                <div  class="dropdown"> 
                  <div class="button"><img class="right" src="/img/3.jpg" alt=""></div>            
                     <ul>
                    <li><a href="dashboard_user.html">Dashboard</a></li>
                    <li><a href="profile_user.html">Profile</a></li>
                    <li><a href="index.html">Sign Out</a></li>
                     </ul> 
                  </div> 
                <a href='#' id='openup'>Agrivest</a>
            </nav>
        </header>

        <div class="wrap-dash">
        <div class="content">
            <div class="sidebar">
                <ul>
                    <li class="active"><a href="dashboard_user.html">Dashboard</a></li>
                    <li><a href="investasi_user.html">Investasi</a></li>
                    <li><a href="transaksi_user.html">Transaksi</a></li>
                </ul>
            </div>

            <div class="main-dash">
                <div class="top-dash">
                  <div class="dtop">
                    <h3>Mari Berkontribusi</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste pariatur itaque ullam ipsa. Sed iure necessitatibus ipsum, aspernatur, enim aut, officiis veniam libero aperiam ullam consequuntur vero facilis numquam rem?</p>
                    <a href="investasi.html">Lihat Project</a>
                  </div>

                  <div class="dbottom">
                    <div class="tabs">
                      <ul class="tab-links">
                        <li class="active-tab"><a href="#tab1">Investasiku</a></li>
                        <li><a href="#tab2">Pemberitahuan</a></li>
                      </ul>

                      <div class="tab-content">
                        <div id="tab1" class="tab active-tab">
                            <div class="card-dash">
                                <div class="card-header">
                                  <img src="/img/5.png" alt="">
                                  <div class="cover"></div>
                          
                                  <div class="name">
                                    <span class="last">Coba</span>
                                    <span class="first">Aku</span>
                                  </div>
                          
                                </div>
                          
                                <div class="container">
                                  <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                  <div class="left-section">
                                    <h4>Harga Investasi<span>Rp 1.000.000/slot</span></h4>
                                    <h4>Return<span>1.400.000/slot</span></h4>
                                  </div>
                          
                                  <div class="right-section">
                                    <h4>Kuota<br>100/<span>100</span></h4>
                                    <a href="">Read More</a>
                                  </div>
                                </div>
                              </div>
                        </div>

                        <div id="tab2" class="tab riwayat">
                          <h3>Friday, 22 Nov 2019</h3>
                          <p>Anda telah berinvestasi pada <a href="">Ayam Petelur Kelompok Ternak</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>

 

    

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>