<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcun icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="../../css/new_user.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>

        <header>
            <nav class='cf'>
                <ul>
                  <li class="hide-on-small">
                    <a href="home_user.html">Agrivest</a>
                  </li>
                  <li>
                    <a href='#showcase'>Home</a>
                  </li>
                  <li>
                    <a href='#music'>Investasi</a>
                  </li>
                  <li>
                    <a href='#video'>Artikel</a>
                  </li>
                </ul>
                <div  class="dropdown"> 
                  <div class="button"><img class="right" src="../../img/3.jpg" alt=""></div>            
                     <ul>
                    <li><a href="dashboard_user.html">Dashboard</a></li>
                    <li><a href="#Manage Pages">Profile</a></li>
                    <li><a href="../index.html">Sign Out</a></li>
                     </ul> 
                  </div> 
                <a href='#' id='openup'>Agrivest</a>
            </nav>
        </header>

        <div class="wrap-dash">
        <div class="content">
            <div class="sidebar">
                <ul>
                    <li><a href="dashboard_user.html">Dashboard</a></li>
                    <li class="active"><a href="investasi_user.html">Investasi</a></li>
                    <li><a href="">Transaksi</a></li>
                </ul>
            </div>

            <div class="main-dash">
              <div class="judul">
                <a href="investasi_user.html"><i class="fas fa-arrow-left"></i></a>
                <h2>Budidaya Jamur Tiram</h2>
              </div>
              
              <div class="konten-dok grid-dok">
                <div class="con-dok">
                  <a href=""><img src="../../img/3.jpg" alt=""></a>
                  <h3>1 Desember 2019</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aspernatur vero, eveniet possimus hic impedit odit! Est omnis eaque maiores illo corporis nam quia quisquam earum cum, nesciunt illum voluptas!</p>
                </div>

              
              </div>
            </div>
              </div>

              

            </div>
            
        </div>    

        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/main.js"></script>
</body>
</html>