<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcun icon" type="image/ico" href="favicon.ico">
  <link rel="stylesheet" href="../../css/new_user.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">
  <title>Agrivest</title>
</head>

<body>
  <!-- Showcase & Nav -->
  <div id="showcase">
    <header>
        <nav class='cf'>
            <ul>
              <li class="hide-on-small">
                <a href="#showcase">Agrivest</a>
              </li>
              <li>
                <a href='#showcase'>Home</a>
              </li>
              <li>
                <a href='#music'>Investasi</a>
              </li>
              <li>
                <a href='#video'>Artikel</a>
              </li>
              <!-- <li>
                <a href="" class="right account" ><img src="img/3.jpg"/></a>
                <ul>
                  <li><a href="">Dashboard</a></li>
                  <li><a href="">Profile</a></li>
                  <li><a href="">Sign Out</a></li>
                </ul>
              </li> -->
            </ul>
            <div  class="dropdown"> 
              <div class="button"><img class="right" src="../../img/3.jpg" alt=""></div>            
                 <ul>
                <li><a class="" href="dashboard_user.html">Dashboard</a></li>
                <li><a href="#Manage Pages">Profile</a></li>
                <li><a href="../index.html">Sign Out</a></li>
                 </ul> 
              </div> 
            <a href='#' id='openup'>Agrivest</a>
        </nav>
    </header>
    <div class="section-main container">
        <h1>Agrivest</h1>
        <h2>Kemudahan Dalam Berinvestasi</h2>
        <p class="lead hide-on-small">Investasi Sektor Pertanian</p>
    </div>
  </div>
  <!-- Music Section -->
  <section id="music" class="section">
    <div class="container">
      <h2 class="section-head">Tentang</h2>
      <p class="lead-tentang">Stream over 50 million songs, ad-free. Or download albums and tracks to listen to offline. All the music in your personal myTunes library — no matter where it came from — lives right alongside the Orange Music catalog. Start your free three-month trial with no commitment, and cancel anytime.</p>
    </div>
  </section>
  <!-- Video Section -->
  <section id="video" class="section bg-light">
    <div class="container pro">
      <h3>Project</h3>
      <div class="project">
        <div class="items item1">
          <a href="#">
						<img src="img/5.png" alt="" title="" class="property_img"/>
          </a>
          
					<div class="property_details">
							<div class="judul">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							</div>
							<div class="row-1-col1-project">
									<h2>Investasi <br><span>Rp. 1.000.000,</span></h2>
									</div>
									<div class="row-1-col2-project"><h1>Kuota<br><span>10</span>/100</h1></div>
	
									<div class="row-2-col1-project">
											<h2>Return<br>Rp. 1.200.000,-</h2></div>
					
											<div class="row-2-col2-project">
											<a href="">Read More</a>
											</div>
						</div>
        </div>

        <div class="items item2">
          <a href="#">
						<img src="img/6.png" alt="" title="" class="property_img"/>
          </a>
          
					<div class="property_details">
							<div class="judul">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							</div>
							<div class="row-1-col1-project">
									<h2>Investasi <br><span>Rp. 1.000.000,</span></h2>
									</div>
									<div class="row-1-col2-project"><h1>Kuota<br><span>10</span>/100</h1></div>
	
									<div class="row-2-col1-project">
											<h2>Return<br>Rp. 1.200.000,-</h2></div>
					
											<div class="row-2-col2-project">
											<a href="">Read More</a>
											</div>
						</div>
        </div>

        <div class="items item3">
          <a href="#">
						<img src="img/7.png" alt="" title="" class="property_img"/>
          </a>
          
					<div class="property_details">
							<div class="judul">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							</div>
							
							<div class="row-1-col1-project">
									<h2>Investasi <br><span>Rp. 1.000.000,</span></h2>
									</div>
									<div class="row-1-col2-project"><h1>Kuota<br><span>10</span>/100</h1></div>
	
									<div class="row-2-col1-project">
											<h2>Return<br>Rp. 1.200.000,-</h2></div>
					
											<div class="row-2-col2-project">
											<a href="">Read More</a>
											</div>
						</div>
        </div>
      </div>
      <div class="more_project">
				<a href="#" class="more_project_btn">Project Lainnya</a>
			</div>
    </div>
  </section>
  <!-- Entertainment Section -->
  <section id="entertainment" class="container section">
      <div class="jud_arc">
          <h1>Article</h1>
        </div>
    <div class="article">
      <div class="card">
        <h1 class="card_title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p class="card_pro">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, error ratione porro in dolores labore corporis, quibusdam consectetur eaque eligendi repellat sequi libero ut. Repellat doloribus dicta sit ipsa cum!</p>
      </div>
  
      <div class="card">
        <h1 class="card_title">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
        <p class="card_pro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui odit, praesentium nisi quam illo, enim suscipit perferendis ea magnam nobis saepe ut exercitationem temporibus obcaecati accusamus quibusdam reprehenderit. Laudantium, dolor!</p>
    </div>

    <div class="card">
      <h1 class="card_title">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
      <p class="card_pro">Lorem ipsum dolor sit amet consectetur adipisicing elit. In itaque at excepturi quasi non corporis beatae aut eum velit ullam! Dignissimos exercitationem, maxime fuga qui repellendus repudiandae deleniti? Id, odio.</p>
    </div>
  </section>

  <!-- Gift Card Section -->
  <section id="gift-card" class="section bg-light">
    <div class="container">
      <div class="gift-cards">
        <div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas laboriosam cupiditate ea magnam quis enim, totam quod distinctio sed id iure consequatur rerum eius doloremque unde atque officiis voluptates ducimus ipsa excepturi praesentium? Sequi sed nulla dolorem modi molestiae dignissimos?</p>
          <a href="#" class="text-secondary">
            <h4>Daftar Sekarang</h4>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="footer-cols">
        <ul>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom text-center">
      Copyright &copy; 2019 Agrivest
    </div>
  </footer>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>